@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,800;0,900;1,500;1,800&family=Open+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-[1196px] px-6 mx-auto;
  }
  .container-lg {
    @apply max-w-[1596px] mx-auto;
  }

  .gradient_border {
    @apply border-transparent;
    background: linear-gradient(#040503, #040503) padding-box,
      linear-gradient(117.35deg, #fff24d 11.12%, #8743cf 88.16%) border-box;
  }
  .title_lg {
    @apply md:text-[36px] text-[28px] leading-[34px] md:leading-[44px] font-montserrat italic font-extrabold uppercase;
  }
  .body_text {
    @apply text-[16px] leading-[150%] font-open-sans font-normal;
  }
}

@layer utilities {
  .gradient {
    background: linear-gradient(117.35deg, #fff24d 11.12%, #8743cf 88.16%);
  }
  .dekstop_roadmap_bg {
    background: url("/img/BG.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }
  .mobile_roadmap_bg {
    background: url("/img/road_map_bg_mobile.png");
    background-size: "cover";
    background-repeat: "no-repeat";
  }
}

body {
  @apply bg-dark text-white;
}
